.card{
    position: relative;
    background-color: $background-primary;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 1px 3px 6px rgba(30,30,30,0.2);

    &:last-child{
        margin-bottom: 0;
    }

    &__container{
        position: relative;
    }

    &__img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    &__badge{
        position: absolute;
        background-color: $color-tertiary;
        display: inline-block;
        color: darken($color-tertiary, 40%);
        padding: 5px 15px;
        border-radius: 3px;
        font-weight: bold;
        top: 15px;
        right: 15px;
    }

    &__content{
        display: flex;
        padding: 15px;
    }

    &__caption{
        flex: 1;
    }

    &__title{
        margin-top: 0;
        margin-bottom: 5px;
    }

    &__subtitle{
        margin: 0;
    }

    &__like{
        position: relative;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__heart{
        font-size: 1.4rem;
        position: absolute;
        margin: auto;
        transition: opacity .4s ease-in-out, transform .3s 100ms ease-in-out;

        &--bg{
            transform: scale(0);
            transform-origin: 50% 100%;
            opacity: 0;
            background: linear-gradient($color-primary, $color-secondary);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &--nobg{
            z-index: 2;
            
            &:hover{
                opacity: 0;
            }
        }

        &--nobg:hover + &--bg{
            opacity: 1;
            transform: scale(1);
        }
    }

    @include tablet{
        width: 49%;
        margin: 1% 0;
    }
}



.menu-card{
    background-color: $background-primary;
    display: flex;
    position: relative;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 1px 3px 6px rgba(30,30,30,0.2);
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease-in-out 0s 1 forwards;

    &:hover &__add{
        margin-right: 0;
    }

    &:hover &__add__icon{
        transform: rotate(360deg);
    }

    &__caption{
        padding: 1rem;
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
    }

    &__title, &__description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    &__title{
        margin: 0 0 0.5rem 0;
    }
    
    &__description{
        font-weight: 300;
        margin: 0;
    }
    
    &__price{
        font-weight: bold;
        padding: 1rem;
        display: flex;
        align-items: flex-end;
    }
    
    &__add{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-tertiary;
        width: 60px;
        height: auto;
        margin-right: -60px;
        transition: margin .4s ease-in-out;
    
        &__icon{
            font-size: 1.5rem;
            color: $text-color-secondary;
            transform: rotate(90deg);
            transition: transform .4s .15s ease-in-out;
        }
    }
}