*, ::before, ::after{
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: $background-primary;
    font-family: $font-primary;
}

a{
    color: inherit;
    text-decoration: none;
}

.container{
    @include desktop{
        max-width: map-get($breakpoints, desktop);
        margin: auto;
    }
}