.menupage{

    &__img{
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        display: block;
    }

    &__container{
        background-color: $background-secondary;
        position: relative;
        margin: -50px auto 0;
        border-radius: 40px 40px 0 0;
        max-width: 1280px;
        padding: 30px;
    }

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__maintitle{
        font-family: $font-secondary;
        font-size: 1.5rem;
    }

    &__subtitle{
        position: relative;
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 300;
        padding-bottom: 5px;
        text-transform: uppercase;

        &::after{
            content: '';
            position: absolute;
            width: 60px;
            background-color: $color-tertiary;
            height: 3px;
            bottom: 0;
            left: 0;
        }
    }

    &__menus{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        @include desktop{
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__menu{
        @include desktop{
            width: 33.33%;
            padding: 0 1rem;

            &:first-child{
                padding-left: 0;
            }

            &:last-child{
                padding-right: 0;
            }
        }
    }

    &__button{
        text-align: center;
        margin-bottom: 20px;
    }
        
}

$animationDelay: 0s;
@for $i from 1 through 9{
    $animationVariation: 0.15s;
    $animationDelay: $animationDelay + $animationVariation;
    .delay-#{$i}{
        animation-delay: $animationDelay;
    }
}