.menupage{

    background-color: $background-secondary;

    &__img{
        width: 100%;
        max-height: 500px;
        object-fit: cover;
        display: block;
    }

    &__container{
        background-color: $background-secondary;
        position: relative;
        top:-50px;
        border-radius: 40px 40px 0 0;
        max-width: map-get($breakpoints, desktop);
        margin: auto;
        padding: 20px 15px;
    }

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__maintitle{
        font-family: $font-secondary;
        font-size: 1.5rem;
    }

    &__subtitle{
        position: relative;
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 300;
        padding-bottom: 5px;
        text-transform: uppercase;

        &::after{
            content: '';
            position: absolute;
            width: 60px;
            background-color: $color-tertiary;
            height: 3px;
            bottom: 0;
            left: 0;
        }
    }

    &__menus{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    &__button{
        text-align: center;
    }
        
}

$animationDelay: 0s;
@for $i from 1 through 9{
    
    $animationVariation: 0.2s;
    $animationDelay: $animationDelay + $animationVariation;
    .delay-#{$i}{
        animation-delay: $animationDelay;
    }
}